In [1]:
#Import Dependencies
import pandas as pd
import numpy as np

#Import matplotlib dependencies
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress

import json 

import geopandas as gpd

#File to load
file_path = "./Data/minwage.csv"

In [2]:
#Create dataframe
min_wage_df = pd.read_csv(file_path,encoding='cp1252') 
min_wage_df.head()

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.00000,0.00,0.00000,0.00,NaN
1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.10000,15.61,2.10000,15.61,NaN
2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)
4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,1.65(b),1.65000,12.26,1.65000,12.26,(b)

In [3]:
min_wage_df['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'U.S. Virgin Islands',
       'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

In [4]:
# Show column names 
for col in min_wage_df.columns: 
    print(col)

Year
State
State.Minimum.Wage
State.Minimum.Wage.2020.Dollars
Federal.Minimum.Wage
Federal.Minimum.Wage.2020.Dollars
Effective.Minimum.Wage
Effective.Minimum.Wage.2020.Dollars
CPI.Average
Department.Of.Labor.Uncleaned.Data
Department.Of.Labor.Cleaned.Low.Value
Department.Of.Labor.Cleaned.Low.Value.2020.Dollars
Department.Of.Labor.Cleaned.High.Value
Department.Of.Labor.Cleaned.High.Value.2020.Dollars
Footnote

In [5]:
clean_min_wage_df = min_wage_df[['Year', 'State', 'State.Minimum.Wage', 'Federal.Minimum.Wage']]
clean_min_wage_df.head(10)

   Year                 State  State.Minimum.Wage  Federal.Minimum.Wage
0  1968               Alabama             0.00000                  1.15
1  1968                Alaska             2.10000                  1.15
2  1968               Arizona             0.46800                  1.15
3  1968              Arkansas             0.15625                  1.15
4  1968            California             1.65000                  1.15
5  1968              Colorado             1.00000                  1.15
6  1968           Connecticut             1.40000                  1.15
7  1968              Delaware             1.25000                  1.15
8  1968  District of Columbia             1.25000                  1.15
9  1968               Florida             0.00000                  1.15

In [6]:
# Drop earlier years

drop_early_df = clean_min_wage_df[clean_min_wage_df['Year'] >= 1970]
drop_early_df.head(10)

     Year                 State  State.Minimum.Wage  Federal.Minimum.Wage
108  1970               Alabama               0.000                   1.3
109  1970                Alaska               2.100                   1.3
110  1970               Arizona               0.468                   1.3
111  1970              Arkansas               1.100                   1.3
112  1970            California               1.650                   1.3
113  1970              Colorado               1.000                   1.3
114  1970           Connecticut               1.600                   1.3
115  1970              Delaware               1.250                   1.3
116  1970  District of Columbia               1.600                   1.3
117  1970               Florida               0.000                   1.3

In [7]:
#Load in Latlngs
latlong_file_path = "./Data/statelatlong.csv"
latlong_df = pd.read_csv(latlong_file_path,encoding='cp1252') 
latlong_df = latlong_df.drop('State', 1)
latlong_df = latlong_df.rename(columns={'City': 'State'})
latlong_df.head()

    Latitude   Longitude       State
0  32.601011  -86.680736     Alabama
1  61.302501 -158.775020      Alaska
2  34.168219 -111.930907     Arizona
3  34.751928  -92.131378    Arkansas
4  37.271875 -119.270415  California

In [8]:
latlong_df['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [9]:
minwage_with_latlng = pd.merge(drop_early_df,  
                     latlong_df,  
                     on ='State')

minwage_with_latlng

,Year,State,State.Minimum.Wage,Federal.Minimum.Wage,Latitude,Longitude
0,1970,Alabama,0.00,1.30,32.601011,-86.680736
1,1971,Alabama,0.00,1.30,32.601011,-86.680736
2,1972,Alabama,0.00,1.60,32.601011,-86.680736
3,1973,Alabama,0.00,1.60,32.601011,-86.680736
4,1974,Alabama,0.00,1.60,32.601011,-86.680736
...,...,...,...,...,...,...
2596,2016,Wyoming,5.15,7.25,43.000325,-107.554567
2597,2017,Wyoming,5.15,7.25,43.000325,-107.554567
2598,2018,Wyoming,5.15,7.25,43.000325,-107.554567
2599,2019,Wyoming,5.15,7.25,43.000325,-107.554567
2600,2020,Wyoming,5.15,7.25,43.000325,-107.554567

In [10]:
len(set(minwage_with_latlng['State'].values))

51

In [11]:
print(minwage_with_latlng["Year"].max())
print(minwage_with_latlng['Year'].min())

2020
1970

In [12]:
# Create bins in which to place values based upon TED Talk views
bins = [1969, 1979, 1989, 1999, 2009, 2019,2020 ]

# Create labels for these bins
group_labels = ['1970',"1980", "1990", "2000", "2010",'2020']

In [13]:
# Place the data series into a new column inside of the DataFrame
minwage_with_latlng["Decade"] = pd.cut(minwage_with_latlng["Year"], bins, labels=group_labels)
minwage_with_latlng.sample(20)

,Year,State,State.Minimum.Wage,Federal.Minimum.Wage,Latitude,Longitude,Decade
1519,2010,New Hampshire,7.25,7.25,44.001231,-71.579923,2010
1461,2003,Nevada,5.15,5.15,38.502032,-117.023060,2000
1155,2003,Michigan,5.15,5.15,44.943560,-86.415805,2000
829,1983,Kansas,1.60,3.35,38.498779,-98.320078,1980
572,1981,Hawaii,3.10,3.35,20.460000,-157.505000,1980
2314,1989,Vermont,3.55,3.35,43.871755,-72.447783,1980
13,1983,Alabama,0.00,3.35,32.601011,-86.680736,1980
336,2000,Connecticut,6.15,5.15,41.518784,-72.757507,2000
1309,2004,Missouri,5.15,5.15,38.304662,-92.437099,2000
1079,1978,Massachusetts,2.10,2.20,42.062940,-71.718067,1970
1037,1987,Maryland,3.35,3.35,38.806352,-77.268416,1980
136,2004,Arizona,0.00,5.15,34.168219,-111.930907,2000
778,1983,Iowa,0.00,3.35,41.938317,-93.389798,1980
2416,1989,Washington,2.30,3.35,38.899349,-77.014567,1980
686,1993,Illinois,4.25,4.25,39.739318,-89.504139,1990
2418,1991,Washington,4.25,3.80,38.899349,-77.014567,1990
1312,2007,Missouri,6.50,5.15,38.304662,-92.437099,2000
808,2013,Iowa,7.25,7.25,41.938317,-93.389798,2010
665,1972,Illinois,1.40,1.60,39.739318,-89.504139,1970
1086,1985,Massachusetts,3.35,3.35,42.062940,-71.718067,1980

In [14]:
# Create a GroupBy object based upon "View Group"


statistics_df=round(minwage_with_latlng.groupby(['Decade', 'State']).agg(['mean', 'median'])['State.Minimum.Wage'],2)
statistics_df=statistics_df.reset_index()
statistics_df

    Decade          State   mean  median
0     1970        Alabama   0.00    0.00
1     1970         Alaska   2.44    2.10
2     1970        Arizona   0.28    0.47
3     1970       Arkansas   1.50    1.20
4     1970     California   1.88    1.65
..     ...            ...    ...     ...
301   2020       Virginia   7.25    7.25
302   2020     Washington  13.50   13.50
303   2020  West Virginia   8.75    8.75
304   2020      Wisconsin   7.25    7.25
305   2020        Wyoming   5.15    5.15

[306 rows x 4 columns]

In [15]:
statistics_df_federal=round(minwage_with_latlng.groupby(['Decade', 'State']).agg(['mean', 'median'])['Federal.Minimum.Wage'],2)
statistics_df_federal=statistics_df_federal.reset_index()
statistics_df_federal

    Decade          State  mean  median
0     1970        Alabama  1.85    1.60
1     1970         Alaska  1.85    1.60
2     1970        Arizona  1.85    1.60
3     1970       Arkansas  1.85    1.60
4     1970     California  1.85    1.60
..     ...            ...   ...     ...
301   2020       Virginia  7.25    7.25
302   2020     Washington  7.25    7.25
303   2020  West Virginia  7.25    7.25
304   2020      Wisconsin  7.25    7.25
305   2020        Wyoming  7.25    7.25

[306 rows x 4 columns]

In [16]:
statistics_df

    Decade          State   mean  median
0     1970        Alabama   0.00    0.00
1     1970         Alaska   2.44    2.10
2     1970        Arizona   0.28    0.47
3     1970       Arkansas   1.50    1.20
4     1970     California   1.88    1.65
..     ...            ...    ...     ...
301   2020       Virginia   7.25    7.25
302   2020     Washington  13.50   13.50
303   2020  West Virginia   8.75    8.75
304   2020      Wisconsin   7.25    7.25
305   2020        Wyoming   5.15    5.15

[306 rows x 4 columns]

In [17]:
minwage_with_latlng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2601 entries, 0 to 2600
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  2601 non-null   int64
 1   State                 2601 non-null   object
 2   State.Minimum.Wage    2601 non-null   float64
 3   Federal.Minimum.Wage  2601 non-null   float64
 4   Latitude              2601 non-null   float64
 5   Longitude             2601 non-null   float64
 6   Decade                2601 non-null   category
dtypes: category(1), float64(4), int64(1), object(1)
memory usage: 225.0+ KB

In [18]:
minwage_with_latlng['Decade']= minwage_with_latlng['Decade'].astype(str)
minwage_with_latlng.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2601 entries, 0 to 2600
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  2601 non-null   int64
 1   State                 2601 non-null   object
 2   State.Minimum.Wage    2601 non-null   float64
 3   Federal.Minimum.Wage  2601 non-null   float64
 4   Latitude              2601 non-null   float64
 5   Longitude             2601 non-null   float64
 6   Decade                2601 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 242.6+ KB

In [19]:
#del minwage_with_latlng["Year"]

In [20]:
# print('We have {} geotagged rows'.format(len(minwage_with_latlng)))

In [21]:
# def df_to_geojson(minwage_with_latlng, properties, lat='Latitude', lon='Longitude'):
#     """
#     Turn a dataframe containing point data into a geojson formatted python dictionary
    
#     df : the dataframe to convert to geojson
#     properties : a list of columns in the dataframe to turn into geojson feature properties
#     lat : the name of the column in the dataframe that contains latitude data
#     lon : the name of the column in the dataframe that contains longitude data
#     """
    
#     # create a new python dict to contain our geojson data, using geojson format
#     geojson = {'type':'FeatureCollection', 'features':[]}

#     # loop through each row in the dataframe and convert each row to geojson format
#     for _, row in minwage_with_latlng.iterrows():
#         # create a feature template to fill in
#         feature = {'type':'Feature',
#                    'properties':{},
#                    'geometry':{'type':'Point',
#                                'coordinates':[]}}

#         # fill in the coordinates
#         feature['geometry']['coordinates'] = [row[lon],row[lat]]

#         # for each column, get the value and add it as a new feature property
#         for prop in properties:
#             feature['properties'][prop] = row[prop]
        
#         # add this feature (aka, converted dataframe row) to the list of features inside our dict
#         geojson['features'].append(feature)
    
#     return geojson

In [22]:
# useful_columns = ['Year','State','State.Minimum.Wage','State.Minimum.Wage.2020.Dollars','Federal.Minimum.Wage', 'Federal.Minimum.Wage.2020.Dollars','Latitude','Longitude','Decade']
# geojson_dict = df_to_geojson(minwage_with_latlng, properties=useful_columns)
# geojson_str = json.dumps(geojson_dict, indent=2)
# print(geojson_str)

In [23]:
# Can't use this, <class 'str'> type

In [24]:
geojson_internet=gpd.read_file('gz_2010_us_040_00_500k.json')
geojson_internet

,GEO_ID,STATE,NAME,LSAD,CENSUSAREA,geometry
0,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ..."
1,0400000US25,25,Massachusetts,,7800.058,"MULTIPOLYGON (((-70.83204 41.60650, -70.82373 ..."
2,0400000US26,26,Michigan,,56538.901,"MULTIPOLYGON (((-88.68443 48.11579, -88.67563 ..."
3,0400000US30,30,Montana,,145545.801,"POLYGON ((-104.05770 44.99743, -104.25015 44.9..."
4,0400000US32,32,Nevada,,109781.180,"POLYGON ((-114.05060 37.00040, -114.04999 36.9..."
5,0400000US34,34,New Jersey,,7354.220,"POLYGON ((-75.52684 39.65571, -75.52634 39.656..."
6,0400000US36,36,New York,,47126.399,"MULTIPOLYGON (((-71.94356 41.28668, -71.92680 ..."
7,0400000US37,37,North Carolina,,48617.905,"MULTIPOLYGON (((-82.60288 36.03983, -82.60074 ..."
8,0400000US39,39,Ohio,,40860.694,"MULTIPOLYGON (((-82.81349 41.72347, -82.81049 ..."
9,0400000US42,42,Pennsylvania,,44742.703,"POLYGON ((-75.41504 39.80179, -75.42804 39.809..."
10,0400000US44,44,Rhode Island,,1033.814,"MULTIPOLYGON (((-71.28157 41.64821, -71.27817 ..."
11,0400000US47,47,Tennessee,,41234.896,"POLYGON ((-81.67754 36.58812, -81.68014 36.585..."
12,0400000US48,48,Texas,,261231.711,"MULTIPOLYGON (((-97.13436 27.89633, -97.13360 ..."
13,0400000US49,49,Utah,,82169.620,"POLYGON ((-114.05060 37.00040, -114.05175 37.0..."
14,0400000US53,53,Washington,,66455.521,"MULTIPOLYGON (((-123.09055 49.00198, -123.0353..."
15,0400000US55,55,Wisconsin,,54157.805,"MULTIPOLYGON (((-90.45525 47.02400, -90.45713 ..."
16,0400000US72,72,Puerto Rico,,3423.775,"MULTIPOLYGON (((-65.58733 18.38199, -65.59122 ..."
17,0400000US24,24,Maryland,,9707.241,"MULTIPOLYGON (((-76.07147 38.20350, -76.04879 ..."
18,0400000US01,01,Alabama,,50645.326,"MULTIPOLYGON (((-85.00237 31.00068, -85.02411 ..."
19,0400000US02,02,Alaska,,570640.950,"MULTIPOLYGON (((-164.97620 54.13459, -164.9377..."
20,0400000US04,04,Arizona,,113594.084,"POLYGON ((-109.04522 36.99908, -109.04524 36.9..."
21,0400000US05,05,Arkansas,,52035.477,"POLYGON ((-94.55929 36.49950, -94.51948 36.499..."
22,0400000US06,06,California,,155779.220,"MULTIPOLYGON (((-122.44632 37.86105, -122.4385..."
23,0400000US08,08,Colorado,,103641.888,"POLYGON ((-102.04224 36.99308, -102.05450 36.9..."
24,0400000US09,09,Connecticut,,4842.355,"MULTIPOLYGON (((-71.85957 41.32240, -71.86823 ..."
25,0400000US10,10,Delaware,,1948.543,"MULTIPOLYGON (((-75.55945 39.62981, -75.55910 ..."
26,0400000US11,11,District of Columbia,,61.048,"POLYGON ((-77.03860 38.79151, -77.03890 38.800..."
27,0400000US12,12,Florida,,53624.759,"MULTIPOLYGON (((-85.15641 29.67963, -85.13740 ..."
28,0400000US13,13,Georgia,,57513.485,"POLYGON ((-81.44412 30.70971, -81.44872 30.709..."
29,0400000US15,15,Hawaii,,6422.628,"MULTIPOLYGON (((-171.73761 25.79210, -171.7223..."
30,0400000US16,16,Idaho,,82643.117,"POLYGON ((-111.04669 42.00157, -111.41587 42.0..."
31,0400000US17,17,Illinois,,55518.930,"POLYGON ((-87.53233 39.99778, -87.53254 39.987..."
32,0400000US18,18,Indiana,,35826.109,"POLYGON ((-88.02803 37.79922, -88.02938 37.803..."
33,0400000US19,19,Iowa,,55857.130,"POLYGON ((-95.76565 40.58521, -95.75889 40.588..."
34,0400000US20,20,Kansas,,81758.717,"POLYGON ((-94.61808 36.99813, -94.62522 36.998..."
35,0400000US21,21,Kentucky,,39486.338,"MULTIPOLYGON (((-83.67541 36.60081, -83.67561 ..."
36,0400000US22,22,Louisiana,,43203.905,"MULTIPOLYGON (((-88.86507 29.75271, -88.88975 ..."
37,0400000US27,27,Minnesota,,79626.743,"POLYGON ((-91.37161 43.50095, -91.37695 43.500..."
38,0400000US28,28,Mississippi,,46923.274,"MULTIPOLYGON (((-88.71072 30.25080, -88.65680 ..."
39,0400000US29,29,Missouri,,68741.522,"POLYGON ((-89.53910 36.49820, -89.53452 36.491..."
40,0400000US31,31,Nebraska,,76824.171,"POLYGON ((-95.76565 40.58521, -95.76853 40.583..."
41,0400000US33,33,New Hampshire,,8952.651,"MULTIPOLYGON (((-72.45852 42.72685, -72.45849 ..."
42,0400000US35,35,New Mexico,,121298.148,"POLYGON ((-109.05004 31.33250, -109.05017 31.4..."
43,0400000US38,38,North Dakota,,69000.798,"POLYGON ((-96.56328 45.93524, -96.57690 45.935..."
44,0400000US40,40,Oklahoma,,68594.921,"POLYGON ((-94.61792 36.49941, -94.61531 36.484..."
45,0400000US41,41,Oregon,,95988.013,"POLYGON ((-117.22007 44.30138, -117.22245 44.2..."
46,0400000US45,45,South Carolina,,30060.696,"POLYGON ((-78.54109 33.85111, -78.55394 33.847..."
47,0400000US46,46,South Dakota,,75811.000,"POLYGON ((-96.44341 42.48949, -96.45971 42.486..."
48,0400000US50,50,Vermont,,9216.657,"POLYGON ((-72.04008 44.15575, -72.04271 44.152..."
49,0400000US51,51,Virginia,,39490.086,"MULTIPOLYGON (((-76.04653 37.95359, -76.04169 ..."
50,0400000US54,54,West Virginia,,24038.210,"POLYGON ((-81.96830 37.53780, -81.96540 37.541..."
51,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0..."

In [25]:
renamed_df=geojson_internet.rename(columns = {'STATE':'Name', 'NAME':'State'})
renamed_df

,GEO_ID,Name,State,LSAD,CENSUSAREA,geometry
0,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ..."
1,0400000US25,25,Massachusetts,,7800.058,"MULTIPOLYGON (((-70.83204 41.60650, -70.82373 ..."
2,0400000US26,26,Michigan,,56538.901,"MULTIPOLYGON (((-88.68443 48.11579, -88.67563 ..."
3,0400000US30,30,Montana,,145545.801,"POLYGON ((-104.05770 44.99743, -104.25015 44.9..."
4,0400000US32,32,Nevada,,109781.180,"POLYGON ((-114.05060 37.00040, -114.04999 36.9..."
5,0400000US34,34,New Jersey,,7354.220,"POLYGON ((-75.52684 39.65571, -75.52634 39.656..."
6,0400000US36,36,New York,,47126.399,"MULTIPOLYGON (((-71.94356 41.28668, -71.92680 ..."
7,0400000US37,37,North Carolina,,48617.905,"MULTIPOLYGON (((-82.60288 36.03983, -82.60074 ..."
8,0400000US39,39,Ohio,,40860.694,"MULTIPOLYGON (((-82.81349 41.72347, -82.81049 ..."
9,0400000US42,42,Pennsylvania,,44742.703,"POLYGON ((-75.41504 39.80179, -75.42804 39.809..."
10,0400000US44,44,Rhode Island,,1033.814,"MULTIPOLYGON (((-71.28157 41.64821, -71.27817 ..."
11,0400000US47,47,Tennessee,,41234.896,"POLYGON ((-81.67754 36.58812, -81.68014 36.585..."
12,0400000US48,48,Texas,,261231.711,"MULTIPOLYGON (((-97.13436 27.89633, -97.13360 ..."
13,0400000US49,49,Utah,,82169.620,"POLYGON ((-114.05060 37.00040, -114.05175 37.0..."
14,0400000US53,53,Washington,,66455.521,"MULTIPOLYGON (((-123.09055 49.00198, -123.0353..."
15,0400000US55,55,Wisconsin,,54157.805,"MULTIPOLYGON (((-90.45525 47.02400, -90.45713 ..."
16,0400000US72,72,Puerto Rico,,3423.775,"MULTIPOLYGON (((-65.58733 18.38199, -65.59122 ..."
17,0400000US24,24,Maryland,,9707.241,"MULTIPOLYGON (((-76.07147 38.20350, -76.04879 ..."
18,0400000US01,01,Alabama,,50645.326,"MULTIPOLYGON (((-85.00237 31.00068, -85.02411 ..."
19,0400000US02,02,Alaska,,570640.950,"MULTIPOLYGON (((-164.97620 54.13459, -164.9377..."
20,0400000US04,04,Arizona,,113594.084,"POLYGON ((-109.04522 36.99908, -109.04524 36.9..."
21,0400000US05,05,Arkansas,,52035.477,"POLYGON ((-94.55929 36.49950, -94.51948 36.499..."
22,0400000US06,06,California,,155779.220,"MULTIPOLYGON (((-122.44632 37.86105, -122.4385..."
23,0400000US08,08,Colorado,,103641.888,"POLYGON ((-102.04224 36.99308, -102.05450 36.9..."
24,0400000US09,09,Connecticut,,4842.355,"MULTIPOLYGON (((-71.85957 41.32240, -71.86823 ..."
25,0400000US10,10,Delaware,,1948.543,"MULTIPOLYGON (((-75.55945 39.62981, -75.55910 ..."
26,0400000US11,11,District of Columbia,,61.048,"POLYGON ((-77.03860 38.79151, -77.03890 38.800..."
27,0400000US12,12,Florida,,53624.759,"MULTIPOLYGON (((-85.15641 29.67963, -85.13740 ..."
28,0400000US13,13,Georgia,,57513.485,"POLYGON ((-81.44412 30.70971, -81.44872 30.709..."
29,0400000US15,15,Hawaii,,6422.628,"MULTIPOLYGON (((-171.73761 25.79210, -171.7223..."
30,0400000US16,16,Idaho,,82643.117,"POLYGON ((-111.04669 42.00157, -111.41587 42.0..."
31,0400000US17,17,Illinois,,55518.930,"POLYGON ((-87.53233 39.99778, -87.53254 39.987..."
32,0400000US18,18,Indiana,,35826.109,"POLYGON ((-88.02803 37.79922, -88.02938 37.803..."
33,0400000US19,19,Iowa,,55857.130,"POLYGON ((-95.76565 40.58521, -95.75889 40.588..."
34,0400000US20,20,Kansas,,81758.717,"POLYGON ((-94.61808 36.99813, -94.62522 36.998..."
35,0400000US21,21,Kentucky,,39486.338,"MULTIPOLYGON (((-83.67541 36.60081, -83.67561 ..."
36,0400000US22,22,Louisiana,,43203.905,"MULTIPOLYGON (((-88.86507 29.75271, -88.88975 ..."
37,0400000US27,27,Minnesota,,79626.743,"POLYGON ((-91.37161 43.50095, -91.37695 43.500..."
38,0400000US28,28,Mississippi,,46923.274,"MULTIPOLYGON (((-88.71072 30.25080, -88.65680 ..."
39,0400000US29,29,Missouri,,68741.522,"POLYGON ((-89.53910 36.49820, -89.53452 36.491..."
40,0400000US31,31,Nebraska,,76824.171,"POLYGON ((-95.76565 40.58521, -95.76853 40.583..."
41,0400000US33,33,New Hampshire,,8952.651,"MULTIPOLYGON (((-72.45852 42.72685, -72.45849 ..."
42,0400000US35,35,New Mexico,,121298.148,"POLYGON ((-109.05004 31.33250, -109.05017 31.4..."
43,0400000US38,38,North Dakota,,69000.798,"POLYGON ((-96.56328 45.93524, -96.57690 45.935..."
44,0400000US40,40,Oklahoma,,68594.921,"POLYGON ((-94.61792 36.49941, -94.61531 36.484..."
45,0400000US41,41,Oregon,,95988.013,"POLYGON ((-117.22007 44.30138, -117.22245 44.2..."
46,0400000US45,45,South Carolina,,30060.696,"POLYGON ((-78.54109 33.85111, -78.55394 33.847..."
47,0400000US46,46,South Dakota,,75811.000,"POLYGON ((-96.44341 42.48949, -96.45971 42.486..."
48,0400000US50,50,Vermont,,9216.657,"POLYGON ((-72.04008 44.15575, -72.04271 44.152..."
49,0400000US51,51,Virginia,,39490.086,"MULTIPOLYGON (((-76.04653 37.95359, -76.04169 ..."
50,0400000US54,54,West Virginia,,24038.210,"POLYGON ((-81.96830 37.53780, -81.96540 37.541..."
51,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0..."

In [26]:
geojson_data=renamed_df.merge(minwage_with_latlng, on='State')
geojson_data

,GEO_ID,Name,State,LSAD,CENSUSAREA,geometry,Year,State.Minimum.Wage,Federal.Minimum.Wage,Latitude,Longitude,Decade
0,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1970,1.60,1.30,45.218513,-69.014866,1970
1,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1971,1.60,1.30,45.218513,-69.014866,1970
2,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1972,1.40,1.60,45.218513,-69.014866,1970
3,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1973,1.40,1.60,45.218513,-69.014866,1970
4,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1974,1.40,1.60,45.218513,-69.014866,1970
...,...,...,...,...,...,...,...,...,...,...,...,...
2596,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2016,5.15,7.25,43.000325,-107.554567,2010
2597,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2017,5.15,7.25,43.000325,-107.554567,2010
2598,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2018,5.15,7.25,43.000325,-107.554567,2010
2599,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2019,5.15,7.25,43.000325,-107.554567,2010
2600,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2020,5.15,7.25,43.000325,-107.554567,2020

In [27]:
geojson_data_final=geojson_data.merge(statistics_df, on=['Decade','State'])
geojson_data_final

,GEO_ID,Name,State,LSAD,CENSUSAREA,geometry,Year,State.Minimum.Wage,Federal.Minimum.Wage,Latitude,Longitude,Decade,mean,median
0,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1970,1.60,1.30,45.218513,-69.014866,1970,1.86,1.60
1,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1971,1.60,1.30,45.218513,-69.014866,1970,1.86,1.60
2,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1972,1.40,1.60,45.218513,-69.014866,1970,1.86,1.60
3,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1973,1.40,1.60,45.218513,-69.014866,1970,1.86,1.60
4,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1974,1.40,1.60,45.218513,-69.014866,1970,1.86,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2596,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2016,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15
2597,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2017,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15
2598,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2018,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15
2599,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2019,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15
2600,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2020,5.15,7.25,43.000325,-107.554567,2020,5.15,5.15

In [28]:
geojson_data_final=geojson_data_final.merge(statistics_df_federal, on=['Decade','State'])
geojson_data_final

,GEO_ID,Name,State,LSAD,CENSUSAREA,geometry,Year,State.Minimum.Wage,Federal.Minimum.Wage,Latitude,Longitude,Decade,mean_x,median_x,mean_y,median_y
0,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1970,1.60,1.30,45.218513,-69.014866,1970,1.86,1.60,1.85,1.60
1,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1971,1.60,1.30,45.218513,-69.014866,1970,1.86,1.60,1.85,1.60
2,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1972,1.40,1.60,45.218513,-69.014866,1970,1.86,1.60,1.85,1.60
3,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1973,1.40,1.60,45.218513,-69.014866,1970,1.86,1.60,1.85,1.60
4,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1974,1.40,1.60,45.218513,-69.014866,1970,1.86,1.60,1.85,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2596,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2016,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2597,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2017,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2598,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2018,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2599,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2019,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2600,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2020,5.15,7.25,43.000325,-107.554567,2020,5.15,5.15,7.25,7.25

In [29]:
geojson_data_to_upload = geojson_data_final.rename(columns = {'mean_x':'State_Average_by_Decade', 'median_x':'State_Median_by_Decade','mean_y':'Federal_Average_by_Decade', 'median_y':'Federal_Median_by_Decade'})
geojson_data_to_upload

,GEO_ID,Name,State,LSAD,CENSUSAREA,geometry,Year,State.Minimum.Wage,Federal.Minimum.Wage,Latitude,Longitude,Decade,State_Average_by_Decade,State_Median_by_Decade,Federal_Average_by_Decade,Federal_Median_by_Decade
0,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1970,1.60,1.30,45.218513,-69.014866,1970,1.86,1.60,1.85,1.60
1,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1971,1.60,1.30,45.218513,-69.014866,1970,1.86,1.60,1.85,1.60
2,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1972,1.40,1.60,45.218513,-69.014866,1970,1.86,1.60,1.85,1.60
3,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1973,1.40,1.60,45.218513,-69.014866,1970,1.86,1.60,1.85,1.60
4,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",1974,1.40,1.60,45.218513,-69.014866,1970,1.86,1.60,1.85,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2596,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2016,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2597,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2017,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2598,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2018,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2599,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2019,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2600,0400000US56,56,Wyoming,,97093.141,"POLYGON ((-109.05008 41.00066, -109.17368 41.0...",2020,5.15,7.25,43.000325,-107.554567,2020,5.15,5.15,7.25,7.25

In [30]:
# # rows = []

# for ii in range(1970, 2021):
#     test1 = geojson_data_to_upload[geojson_data_to_upload.Year == ii]

# # print(test1)
#     test1.to_file("./map/static/data/"+str(ii)+".geojson", driver='GeoJSON')
# # for ii , row in geojson_data_to_upload.iterrows():
# #     if(row.Year == 1970):
# #         rows.append(row)

In [32]:
print(type(geojson_data_to_upload))

<class 'geopandas.geodataframe.GeoDataFrame'>

In [33]:
geojson_data_to_upload.to_file("minwage.geojson", driver='GeoJSON')

In [34]:
geojson_internet2=gpd.read_file('us_states.geojson')
geojson_internet2

,id,name,density,geometry
0,01,Alabama,94.650,"POLYGON ((-87.359 35.001, -85.607 34.985, -85...."
1,02,Alaska,1.264,"MULTIPOLYGON (((-131.602 55.118, -131.569 55.2..."
2,04,Arizona,57.050,"POLYGON ((-109.043 37.000, -109.048 31.332, -1..."
3,05,Arkansas,56.430,"POLYGON ((-94.474 36.502, -90.153 36.496, -90...."
4,06,California,241.700,"POLYGON ((-123.233 42.006, -122.379 42.012, -1..."
5,08,Colorado,49.330,"POLYGON ((-107.920 41.004, -105.729 40.998, -1..."
6,09,Connecticut,739.100,"POLYGON ((-73.054 42.039, -71.799 42.023, -71...."
7,10,Delaware,464.300,"POLYGON ((-75.414 39.804, -75.507 39.684, -75...."
8,11,District of Columbia,10065.000,"POLYGON ((-77.035 38.994, -76.909 38.895, -77...."
9,12,Florida,353.400,"POLYGON ((-85.497 30.998, -85.004 31.003, -84...."
10,13,Georgia,169.500,"POLYGON ((-83.109 35.001, -83.323 34.788, -83...."
11,15,Hawaii,214.100,"MULTIPOLYGON (((-155.635 18.948, -155.881 19.0..."
12,16,Idaho,19.150,"POLYGON ((-116.048 49.000, -116.048 47.976, -1..."
13,17,Illinois,231.500,"POLYGON ((-90.640 42.510, -88.789 42.494, -87...."
14,18,Indiana,181.700,"POLYGON ((-85.990 41.760, -84.807 41.760, -84...."
15,19,Iowa,54.810,"POLYGON ((-91.368 43.501, -91.215 43.501, -91...."
16,20,Kansas,35.090,"POLYGON ((-101.906 40.002, -95.306 40.002, -95..."
17,21,Kentucky,110.000,"POLYGON ((-83.903 38.769, -83.679 38.632, -83...."
18,22,Louisiana,105.000,"POLYGON ((-93.608 33.019, -91.166 33.002, -91...."
19,23,Maine,43.040,"POLYGON ((-70.704 43.058, -70.824 43.129, -70...."
20,24,Maryland,596.300,"MULTIPOLYGON (((-75.995 37.953, -76.017 37.953..."
21,25,Massachusetts,840.200,"POLYGON ((-70.918 42.888, -70.819 42.872, -70...."
22,26,Michigan,173.900,"MULTIPOLYGON (((-83.454 41.732, -84.807 41.694..."
23,27,Minnesota,67.140,"POLYGON ((-92.015 46.705, -92.091 46.749, -92...."
24,28,Mississippi,63.500,"POLYGON ((-88.471 34.996, -88.203 34.996, -88...."
25,29,Missouri,87.260,"POLYGON ((-91.834 40.610, -91.730 40.615, -91...."
26,30,Montana,6.858,"POLYGON ((-104.048 49.000, -104.042 47.861, -1..."
27,31,Nebraska,23.970,"POLYGON ((-103.325 43.003, -101.627 42.998, -9..."
28,32,Nevada,24.800,"POLYGON ((-117.028 42.001, -114.043 41.995, -1..."
29,33,New Hampshire,147.000,"POLYGON ((-71.082 45.303, -71.033 44.657, -70...."
30,34,New Jersey,1189.000,"POLYGON ((-74.237 41.141, -73.902 40.998, -74...."
31,35,New Mexico,17.160,"POLYGON ((-107.421 37.000, -106.868 36.995, -1..."
32,36,New York,412.300,"POLYGON ((-73.344 45.013, -73.333 44.805, -73...."
33,37,North Carolina,198.200,"POLYGON ((-80.979 36.562, -80.294 36.546, -79...."
34,38,North Dakota,9.916,"POLYGON ((-97.229 49.000, -97.097 48.683, -97...."
35,39,Ohio,281.900,"POLYGON ((-80.519 41.979, -80.519 40.637, -80...."
36,40,Oklahoma,55.220,"POLYGON ((-100.088 37.000, -94.616 37.000, -94..."
37,41,Oregon,40.330,"POLYGON ((-123.211 46.174, -123.118 46.185, -1..."
38,42,Pennsylvania,284.300,"POLYGON ((-79.763 42.253, -79.763 42.001, -75...."
39,44,Rhode Island,1006.000,"MULTIPOLYGON (((-71.197 41.678, -71.120 41.497..."
40,45,South Carolina,155.400,"POLYGON ((-82.764 35.067, -82.551 35.160, -82...."
41,46,South Dakota,98.070,"POLYGON ((-104.048 45.944, -96.561 45.933, -96..."
42,47,Tennessee,88.080,"POLYGON ((-88.055 36.496, -88.071 36.677, -87...."
43,48,Texas,98.070,"POLYGON ((-101.813 36.502, -100.000 36.502, -1..."
44,49,Utah,34.300,"POLYGON ((-112.164 41.995, -111.047 42.001, -1..."
45,50,Vermont,67.730,"POLYGON ((-71.504 45.013, -71.493 44.914, -71...."
46,51,Virginia,204.500,"MULTIPOLYGON (((-75.398 38.013, -75.244 38.030..."
47,53,Washington,102.600,"MULTIPOLYGON (((-117.033 49.000, -117.044 47.7..."
48,54,West Virginia,77.060,"POLYGON ((-80.519 40.637, -80.519 39.722, -79...."
49,55,Wisconsin,105.200,"POLYGON ((-90.415 46.568, -90.229 46.508, -90...."
50,56,Wyoming,5.851,"POLYGON ((-109.081 45.002, -105.915 45.002, -1..."
51,72,Puerto Rico,1082.000,"POLYGON ((-66.448 17.984, -66.771 18.006, -66...."

In [35]:
renamed_df=geojson_internet2.rename(columns = {'name':'State'})
renamed_df

,id,State,density,geometry
0,01,Alabama,94.650,"POLYGON ((-87.359 35.001, -85.607 34.985, -85...."
1,02,Alaska,1.264,"MULTIPOLYGON (((-131.602 55.118, -131.569 55.2..."
2,04,Arizona,57.050,"POLYGON ((-109.043 37.000, -109.048 31.332, -1..."
3,05,Arkansas,56.430,"POLYGON ((-94.474 36.502, -90.153 36.496, -90...."
4,06,California,241.700,"POLYGON ((-123.233 42.006, -122.379 42.012, -1..."
5,08,Colorado,49.330,"POLYGON ((-107.920 41.004, -105.729 40.998, -1..."
6,09,Connecticut,739.100,"POLYGON ((-73.054 42.039, -71.799 42.023, -71...."
7,10,Delaware,464.300,"POLYGON ((-75.414 39.804, -75.507 39.684, -75...."
8,11,District of Columbia,10065.000,"POLYGON ((-77.035 38.994, -76.909 38.895, -77...."
9,12,Florida,353.400,"POLYGON ((-85.497 30.998, -85.004 31.003, -84...."
10,13,Georgia,169.500,"POLYGON ((-83.109 35.001, -83.323 34.788, -83...."
11,15,Hawaii,214.100,"MULTIPOLYGON (((-155.635 18.948, -155.881 19.0..."
12,16,Idaho,19.150,"POLYGON ((-116.048 49.000, -116.048 47.976, -1..."
13,17,Illinois,231.500,"POLYGON ((-90.640 42.510, -88.789 42.494, -87...."
14,18,Indiana,181.700,"POLYGON ((-85.990 41.760, -84.807 41.760, -84...."
15,19,Iowa,54.810,"POLYGON ((-91.368 43.501, -91.215 43.501, -91...."
16,20,Kansas,35.090,"POLYGON ((-101.906 40.002, -95.306 40.002, -95..."
17,21,Kentucky,110.000,"POLYGON ((-83.903 38.769, -83.679 38.632, -83...."
18,22,Louisiana,105.000,"POLYGON ((-93.608 33.019, -91.166 33.002, -91...."
19,23,Maine,43.040,"POLYGON ((-70.704 43.058, -70.824 43.129, -70...."
20,24,Maryland,596.300,"MULTIPOLYGON (((-75.995 37.953, -76.017 37.953..."
21,25,Massachusetts,840.200,"POLYGON ((-70.918 42.888, -70.819 42.872, -70...."
22,26,Michigan,173.900,"MULTIPOLYGON (((-83.454 41.732, -84.807 41.694..."
23,27,Minnesota,67.140,"POLYGON ((-92.015 46.705, -92.091 46.749, -92...."
24,28,Mississippi,63.500,"POLYGON ((-88.471 34.996, -88.203 34.996, -88...."
25,29,Missouri,87.260,"POLYGON ((-91.834 40.610, -91.730 40.615, -91...."
26,30,Montana,6.858,"POLYGON ((-104.048 49.000, -104.042 47.861, -1..."
27,31,Nebraska,23.970,"POLYGON ((-103.325 43.003, -101.627 42.998, -9..."
28,32,Nevada,24.800,"POLYGON ((-117.028 42.001, -114.043 41.995, -1..."
29,33,New Hampshire,147.000,"POLYGON ((-71.082 45.303, -71.033 44.657, -70...."
30,34,New Jersey,1189.000,"POLYGON ((-74.237 41.141, -73.902 40.998, -74...."
31,35,New Mexico,17.160,"POLYGON ((-107.421 37.000, -106.868 36.995, -1..."
32,36,New York,412.300,"POLYGON ((-73.344 45.013, -73.333 44.805, -73...."
33,37,North Carolina,198.200,"POLYGON ((-80.979 36.562, -80.294 36.546, -79...."
34,38,North Dakota,9.916,"POLYGON ((-97.229 49.000, -97.097 48.683, -97...."
35,39,Ohio,281.900,"POLYGON ((-80.519 41.979, -80.519 40.637, -80...."
36,40,Oklahoma,55.220,"POLYGON ((-100.088 37.000, -94.616 37.000, -94..."
37,41,Oregon,40.330,"POLYGON ((-123.211 46.174, -123.118 46.185, -1..."
38,42,Pennsylvania,284.300,"POLYGON ((-79.763 42.253, -79.763 42.001, -75...."
39,44,Rhode Island,1006.000,"MULTIPOLYGON (((-71.197 41.678, -71.120 41.497..."
40,45,South Carolina,155.400,"POLYGON ((-82.764 35.067, -82.551 35.160, -82...."
41,46,South Dakota,98.070,"POLYGON ((-104.048 45.944, -96.561 45.933, -96..."
42,47,Tennessee,88.080,"POLYGON ((-88.055 36.496, -88.071 36.677, -87...."
43,48,Texas,98.070,"POLYGON ((-101.813 36.502, -100.000 36.502, -1..."
44,49,Utah,34.300,"POLYGON ((-112.164 41.995, -111.047 42.001, -1..."
45,50,Vermont,67.730,"POLYGON ((-71.504 45.013, -71.493 44.914, -71...."
46,51,Virginia,204.500,"MULTIPOLYGON (((-75.398 38.013, -75.244 38.030..."
47,53,Washington,102.600,"MULTIPOLYGON (((-117.033 49.000, -117.044 47.7..."
48,54,West Virginia,77.060,"POLYGON ((-80.519 40.637, -80.519 39.722, -79...."
49,55,Wisconsin,105.200,"POLYGON ((-90.415 46.568, -90.229 46.508, -90...."
50,56,Wyoming,5.851,"POLYGON ((-109.081 45.002, -105.915 45.002, -1..."
51,72,Puerto Rico,1082.000,"POLYGON ((-66.448 17.984, -66.771 18.006, -66...."

In [36]:
geojson_data=renamed_df.merge(minwage_with_latlng, on='State')
geojson_data

,id,State,density,geometry,Year,State.Minimum.Wage,Federal.Minimum.Wage,Latitude,Longitude,Decade
0,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1970,0.00,1.30,32.601011,-86.680736,1970
1,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1971,0.00,1.30,32.601011,-86.680736,1970
2,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1972,0.00,1.60,32.601011,-86.680736,1970
3,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1973,0.00,1.60,32.601011,-86.680736,1970
4,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1974,0.00,1.60,32.601011,-86.680736,1970
...,...,...,...,...,...,...,...,...,...,...
2596,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2016,5.15,7.25,43.000325,-107.554567,2010
2597,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2017,5.15,7.25,43.000325,-107.554567,2010
2598,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2018,5.15,7.25,43.000325,-107.554567,2010
2599,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2019,5.15,7.25,43.000325,-107.554567,2010
2600,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2020,5.15,7.25,43.000325,-107.554567,2020

In [37]:
geojson_data_final=geojson_data.merge(statistics_df, on=['Decade','State'])
geojson_data_final

,id,State,density,geometry,Year,State.Minimum.Wage,Federal.Minimum.Wage,Latitude,Longitude,Decade,mean,median
0,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1970,0.00,1.30,32.601011,-86.680736,1970,0.00,0.00
1,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1971,0.00,1.30,32.601011,-86.680736,1970,0.00,0.00
2,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1972,0.00,1.60,32.601011,-86.680736,1970,0.00,0.00
3,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1973,0.00,1.60,32.601011,-86.680736,1970,0.00,0.00
4,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1974,0.00,1.60,32.601011,-86.680736,1970,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
2596,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2016,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15
2597,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2017,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15
2598,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2018,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15
2599,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2019,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15
2600,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2020,5.15,7.25,43.000325,-107.554567,2020,5.15,5.15

In [38]:
geojson_data_final = geojson_data_final.merge(statistics_df_federal, on=['Decade','State'])
geojson_data_final

,id,State,density,geometry,Year,State.Minimum.Wage,Federal.Minimum.Wage,Latitude,Longitude,Decade,mean_x,median_x,mean_y,median_y
0,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1970,0.00,1.30,32.601011,-86.680736,1970,0.00,0.00,1.85,1.60
1,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1971,0.00,1.30,32.601011,-86.680736,1970,0.00,0.00,1.85,1.60
2,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1972,0.00,1.60,32.601011,-86.680736,1970,0.00,0.00,1.85,1.60
3,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1973,0.00,1.60,32.601011,-86.680736,1970,0.00,0.00,1.85,1.60
4,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1974,0.00,1.60,32.601011,-86.680736,1970,0.00,0.00,1.85,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2596,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2016,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2597,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2017,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2598,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2018,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2599,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2019,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2600,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2020,5.15,7.25,43.000325,-107.554567,2020,5.15,5.15,7.25,7.25

In [39]:
geojson_data_to_upload=geojson_data_final.rename(columns = {'mean_x':'State_Average_by_Decade', 'median_x':'State_Median_by_Decade','mean_y':'Federal_Average_by_Decade', 'median_y':'Federal_Median_by_Decade'})
geojson_data_to_upload

,id,State,density,geometry,Year,State.Minimum.Wage,Federal.Minimum.Wage,Latitude,Longitude,Decade,State_Average_by_Decade,State_Median_by_Decade,Federal_Average_by_Decade,Federal_Median_by_Decade
0,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1970,0.00,1.30,32.601011,-86.680736,1970,0.00,0.00,1.85,1.60
1,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1971,0.00,1.30,32.601011,-86.680736,1970,0.00,0.00,1.85,1.60
2,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1972,0.00,1.60,32.601011,-86.680736,1970,0.00,0.00,1.85,1.60
3,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1973,0.00,1.60,32.601011,-86.680736,1970,0.00,0.00,1.85,1.60
4,01,Alabama,94.650,"POLYGON ((-87.35930 35.00118, -85.60667 34.984...",1974,0.00,1.60,32.601011,-86.680736,1970,0.00,0.00,1.85,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2596,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2016,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2597,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2017,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2598,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2018,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2599,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2019,5.15,7.25,43.000325,-107.554567,2010,5.15,5.15,7.25,7.25
2600,56,Wyoming,5.851,"POLYGON ((-109.08084 45.00207, -105.91517 45.0...",2020,5.15,7.25,43.000325,-107.554567,2020,5.15,5.15,7.25,7.25

In [40]:
geojson_data_to_upload.to_file("minwage2try.geojson", driver='GeoJSON')